<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477531377285-fecob3r1568s7erotnjmbn4c0r0oso1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477531377285-fecob3r1568s7erotnjmbn4c0r0oso1i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>477531377285-do6ejslu80e2vafps85amtl9mlcj53ue.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlFuuXNd3eDXU82r0nr2KCQGjthrZtg7I</string>
	<key>GCM_SENDER_ID</key>
	<string>477531377285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.math</string>
	<key>PROJECT_ID</key>
	<string>mathmagic-1fed2</string>
	<key>STORAGE_BUCKET</key>
	<string>mathmagic-1fed2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477531377285:ios:e9c4a0f95d3a7805c923ec</string>
</dict>
</plist>